{% extends 'base.html' %}
{% block title %} {{ anime.title.romaji }} {% endblock %}

{% block nav_class %} anime-detail-nav {% endblock %}  <!-- Clase especial para cambiar el estilo -->

{% block content %}
<section class="anime-banner">
    <img src="{{ anime.bannerImage }}" alt="{{ anime.title.romaji }}">
</section>

<!-- Container de la información de los contenidos*/ -->
<section class="anime-info">
    <div class="headerinfo">
        <div class="wrapperdiv">
            <div class="cover-wrap">
                <div class="imagen"></div>
                    <img class="cover-image" src="{{ anime.coverImage.large }}" alt="{{ anime.title.romaji }}">
                </div>
            </div>
        </div>
        <div class="cuerpo-info">
            <h1>{{ anime.title.romaji }}</h1>
            <p>{{ anime.description|safe }}</p>
        </div>
    </div>
</section>

<div class="background-overview">
    <div class="container-grid">
        <section class="sidebar">
            <div class="datos">
                <section class="sidebar">
                        <div class="formato">
                            <h4>Formato</h4>
                            <p>{{ anime.format }}</p>
                        </div>
                        <div class="episodios">
                            <h4>Episodios</h4>
                            <p>{{ anime.episodes }}</p>
                        </div>
                        <div class="duracion">
                            <h4>Duración</h4>
                            <p>{{ anime.duration }} minutos</p>
                        </div>
                        <div class="status">
                            <h4>Status</h4>
                            <p>{{ anime.status }}</p>
                        </div>
                        <div class="start-date">
                            <h4>Start Date</h4>
                            <p>{{ anime.formatted_start_date }}</p>
                        </div>
                        <div class="end-date">
                            <h4>End Date</h4>
                            <p>{{ anime.formatted_end_date }}</p>
                        </div>
                        
                        <div class="season">
                            <h4>Temporada</h4>
                            <p>{{ anime.season }}, {{ anime.startDate.year}}</p>
                        </div>
                        <div class="score">
                            <h4>Puntuación Promedio</h4>
                            <p>{{ anime.averageScore }}</p>
                        </div>
                        <div class="popularidad">
                            <h4>Popularidad</h4>
                            <p>{{ anime.popularity }}</p>
                        </div>
                        <div class="studios">
                            <h4>Estudios</h4>
                            <ul>
                                {% for studio in anime.studios.nodes %}
                                <li>{{ studio.name }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="source">
                            <h4>Fuente</h4>
                            <p>{{ anime.source }}</p>
                        </div>
                        <div class="generos">
                            <h4>Géneros</h4>
                            <ul>
                                {% for genre in anime.genres %}
                                <li>{{ genre }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                </section>
            </div>
            <div class="tags-section">
                <h2>Etiquetas</h2>
                <div class="tags">
                  {% for tag in anime.tags|slice:"10" %}
                    <div class="lista">
                      <p>{{ tag.name }}</p>
                      <p>{{ tag.rank }}%</p>
                    </div>
                  {% endfor %}
                </div>
                
              </div>            
        </section>
    
        <div class="overview">    
            
            <div class="personajes">
                <a href="" class=""><h2>Personajes</h2></a>
                <div class="containepj">
                {% for character in anime.characters.edges %}
                    <div class="character-card">
                        <div class="personaje">
                            <a href="#" class="portada" style="background-image: url('{{ character.node.image.large }}');">

                            </a>
                                <a href="" class="contenido2">
                                    <div class="nombre">{{ character.node.name.full }}</div>
                                    <div class="rol">{{ character.role}}</div>
                                </a>

                        </div>
                        <div class="seiyu">
                            <a href="#" class="portada" style="background-image: url('{{ character.voiceActors.0.image.large }}');">
                            <a href="" class="contenido2">
                                <div class="seiyuinfo">
                                    {{ character.voiceActors.0.name.full }}
                                </div>
                                <div>{{ character.voiceActors.0.language}}</div>
                            </a>
                        </div>
                    </div>
                {% endfor %}
                </div>
            </div>
        
        
        
    
    
        </div>
    
    </div>
</div>

<script>
    let lastScrollTop = 0;
    const nav = document.querySelector('nav'); // Selecciona el nav
  
    window.addEventListener('scroll', function() {
      let currentScroll = window.pageYOffset || document.documentElement.scrollTop;
  
      if (currentScroll > lastScrollTop) {
        // Scroll hacia abajo - ocultar el nav
        nav.classList.add('hidden-nav');
      } else {
        // Scroll hacia arriba - mostrar el nav
        nav.classList.remove('hidden-nav');
      }
  
      lastScrollTop = currentScroll <= 0 ? 0 : currentScroll; // Asegura que no baje por debajo de 0
    });
</script>
{% endblock %}
