{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Unimanga{% endblock %}</title>
    <link
      rel="shortcut icon"
      href="{% static 'imagenes/logo_pag.png'%}"
      type="image/x-icon"
    />
    <script src="{% static 'javascript/tags.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}"> 
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    />

</head>
<body>
    <header>
        <nav class="{% block nav_class %}default-nav{% endblock %}">
            <div class="logo">
                <a href="{% url 'inicio' %}"
                  ><img src="{% static 'imagenes/logo_pag.png' %}" alt="Logo"
                /></a>
            </div>
      
              <div class="menu-bar">
                <a href="{% url 'inicio'%}" class="{% if request.path == '/' %}active{% endif %}">Inicio</a>
                <a href="{% url 'anime'%}" class="{% if request.path == '/anime/' %}active{% endif %}">Anime</a>
                <a href="{% url 'manga'%}" class="{% if request.path == '/manga/' %}active{% endif %}">Manga</a>
                <a href="" class="{% if request.path == '/characters/' %}active{% endif %}">Nosotros</a>
                <a href="{% url 'anime'%}" class="{% if request.path == '/explorar/' %}active{% endif %}">Explorar</a>
              </div>
              <div class="login-register">
                <a href="#" class="register">Registrarse</a>
                <a href="#" class="shadow-pop-tr">Iniciar sesión</a>
              </div>
        </nav>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer class="footer">
        <div class="container2">
          <div class="footer-row">
            <div class="footer-links">
              <h4>Compañia</h4>
              <ul>
                <li><a href="Nosotros.html">Nosotros</a></li>
                <li><a href="#">Nuestros servicios</a></li>
                <li><a href="#">Politica de privacidad</a></li>
                <li><a href="#">Unete</a></li>
              </ul>
            </div>
            <div class="footer-links">
              <h4>Ayuda</h4>
              <ul>
                <li><a href="#">Preguntas</a></li>
                <li><a href="#">Compras</a></li>
                <li><a href="#">Envios</a></li>
                <li><a href="#">Estatus de origen</a></li>
                <li><a href="#">Pagos</a></li>
              </ul>
            </div>
            <div class="footer-links">
              <h4>Extras</h4>
              <ul>
                <li><a href="#">Pokemon</a></li>
                <li><a href="#">Repositorio de API</a></li>
                <li><a href="#">Clima</a></li>
                <li><a href="#">Ropa</a></li>
              </ul>
            </div>
  
            <div class="footer-links">
              <h4>Contacto</h4>
              <div class="social-link">
                <a
                  class="social"
                  href="https://www.facebook.com/people/Kuru-Mangas/pfbid02cDtnRDqFjepoNicQhkuEwfjNtDgUdV3WVHALkVENBucxR7cX1reT9cbi6jdZfxDzl/"
                  target="_blank"
                  ><i class="fab fa-facebook-f"></i
                ></a>
                <a
                  class="social"
                  href="https://www.instagram.com/kurumangas"
                  target="_blank"
                  ><i class="fab fa-instagram"></i
                ></a>
                <a
                  class="social"
                  href="https://twitter.com/KuruMangas"
                  target="_blank"
                  ><i class="fab fa-twitter"></i
                ></a>
              </div>
            </div>
          </div>
        </div>
      </footer>
</body>
</html>
